

# **INICIANDO O TRABALHO COM EXCELL - PART_02**

In [ ]:
import pandas as pd

In [ ]:
#Leitura dos arquivos

df1 = pd.read_excel("/content/drive/MyDrive/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Salvador.xlsx")

In [ ]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [ ]:
#Juntando todas as planilhas

df = pd.concat([df1, df2, df3, df4 ,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#Pegar uma amostra aleatória do conjuto de dados
df.sample(5) #(5) numero de amostras

        Cidade       Data  Vendas  LojaID  Qtde
133      Natal 2019-01-02  153.71    1035     1
58   Fortaleza 2019-01-01   38.90    1004     4
96    Salvador 2019-01-01   42.94    1034     3
41      Recife 2019-02-13  157.78     981     4
123   Salvador 2019-03-02  127.45    1036     3

In [ ]:
#Demonstra os tipos de dados da planilha
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#Alterando o tipo de dado
df["LojaID"] = df["LojaID"].astype("object") 
#Transformou o LojaID de inteiro para objetc(String)

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

In [ ]:
#Consultando linhas com valores faltantes

df.isnull().sum() #Se df for null traga a soma

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True) #mean == média e inplace = substituido na mémoria

In [ ]:
df["Vendas"].mean()

122.61180089485458

In [ ]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna (0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base em apenas 1 coluna (vendas)

df.dropna(subset = ["Vendas"], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how = "all", inplace=True)

In [ ]:
#Criando novas colunas

df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00    1520     1   142.00
1  Aracaju 2018-01-01   14.21    1522     6    85.26
2  Aracaju 2018-01-01   71.55    1520     1    71.55
3  Aracaju 2018-01-01    3.01    1521     7    21.07
4  Aracaju 2018-01-01   24.51    1522     8   196.08

In [ ]:
#Pra dividir e criar uma nova coluna
#df["Receita/vendas"] = df["Receitas"] / ["Vendas"]

In [ ]:
#Como encontrar a maior receita
df["Receita"].max()

3544.0

In [ ]:
#Como encontrar a menor receita
df["Receita"].min()

3.34

In [ ]:
#Como retornar os maiores valores de uma determinada coluna  (no exemplo serão as 3 maiores receitas)
df.nlargest(3,"Receita")

   Cidade       Data  Vendas  LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0     853     4   3544.0
51  Natal 2018-01-21   859.0     852     4   3436.0
55  Natal 2019-01-08   859.0     854     4   3436.0

In [ ]:
#Como retornar os menores valores de uma determinada coluna (no exemplo serão as 3 menores receitas)
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas  LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34    1522     1     3.34
65    Recife 2019-01-01    4.01     981     1     4.01
92     Natal 2019-01-02    4.57    1035     1     4.57

In [ ]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#Ordenar o conjunto de dados 
df.sort_values("Receita", ascending=False).head(10) 
#Vai ordenar com base na receita
#Ascending = False, para ser do maior para o menor
#head(10) - Para pegar as 10 maiores receitas

   Cidade       Data  Vendas  LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0     853     4   3544.0
55  Natal 2019-01-08   859.0     854     4   3436.0
51  Natal 2018-01-21   859.0     852     4   3436.0
30  Natal 2018-10-02   856.0     853     4   3424.0
41  Natal 2018-05-20   835.0     852     4   3340.0
38  Natal 2018-02-25   828.0     852     4   3312.0
10  Natal 2018-10-27   828.0     852     4   3312.0
69  Natal 2019-03-24   817.0     852     4   3268.0
62  Natal 2018-02-10   793.0     854     4   3172.0
52  Natal 2018-04-27   778.0     854     4   3112.0